<div class="@BuildCssClass()" @attributes="BuildNoticeAttributes()">
    <div class="halo-notice__icon" aria-hidden="true">
        <span class="material-icons">@Icon</span>
    </div>
    <div class="halo-notice__content">
        @ChildContent
    </div>
</div>
