<div class="@BuildCssClass()" @attributes="BuildNoticeAttributes()">
    <div class="halo-notice__icon" aria-hidden="true">
        <HaloIcon Name="@Icon" Decorative="true" />
    </div>
    <div class="halo-notice__content">
        @ChildContent
    </div>
</div>
