<div class="@BuildWrapperClass()" @attributes="BuildWrapperAttributes()">
    @if (Header is not null)
    {
        <div class="halo-container__section halo-container__section--header">
            @Header
        </div>
    }

    @if (ChildContent is not null)
    {
        <div class="halo-container__body">
            @ChildContent
        </div>
    }

    @if (Footer is not null)
    {
        <div class="halo-container__section halo-container__section--footer">
            @Footer
        </div>
    }
</div>
