<span class="@BuildCssClass()" @attributes="BuildAccessibilityAttributes()">
    @if (!string.IsNullOrWhiteSpace(Icon))
    {
        <HaloIcon Name="@Icon" Class="halo-badge__icon" Decorative="true" />
    }
    @if (ChildContent is not null)
    {
        <span class="halo-badge__label">@ChildContent</span>
    }
    else if (!string.IsNullOrWhiteSpace(Text))
    {
        <span class="halo-badge__label">@Text</span>
    }
</span>
