<span class="@BuildCssClass()" @attributes="BuildAccessibilityAttributes()">
    @if (!string.IsNullOrWhiteSpace(Icon))
    {
        <span class="material-icons halo-badge__icon" aria-hidden="true">@Icon</span>
    }
    @if (ChildContent is not null)
    {
        <span class="halo-badge__label">@ChildContent</span>
    }
    else if (!string.IsNullOrWhiteSpace(Text))
    {
        <span class="halo-badge__label">@Text</span>
    }
</span>
